<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.testops.my_api_test.dao.AppDao">
    <select id="findByTag" resultType="top.testops.my_api_test.dao.been.DataBeen">
        SELECT * FROM `api_test` WHERE tag = #{tag} AND isRun = 1;
    </select>
    <select id="findUIByTag" resultType="top.testops.my_api_test.dao.been.UIDataBeen">
        SELECT * FROM `ui_test` WHERE tag = #{tag} AND isRun = 1;
    </select>
</mapper>